<!--<p>{{item}}</p>-->

<!--<ul *ngFor="let item of item4">-->
<!--  <li>{{item}}</li>-->
<!--</ul>-->
<!--<button (click)="check()">check</button>-->



<!--<input type="text" placeholder="enter name" #inputField1 > <br>-->
<!--<button (click)="getData(inputField1.value)" [value]="show">  getData</button>-->
<!--<button (click)="logAp(inputField1.value)">log</button>-->
<!--<ul *ngFor="let item of show">-->
<!--  <li>{{item}}</li>-->
<!--</ul>-->


<!--<li>{{item.name}}</li>-->
<!--<li>{{item.email}}</li>-->
